
<!DOCTYPE html>
<html lang="ru" ng-app="task1App">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Задание 1. JavaScript</title>

    <!-- Bootstrap core CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="EmpCtrl">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar)))"></span>
          </button>
          <a class="navbar-brand" href="index.html">Задания Starcode</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">В начало</a></li>
            <li class="active"><a href="task1.html">Задание 1. JavaScript</a></li>
            <li><a href="task2.php">Задание 2. PHP</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Задание 1. JavaScript</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      	<h1>Список сотрудников</h1>
        <div class="col-md-6">
          <h2>Сотрудники</h2>
          
          <div style="overflow: auto; height: 10em" class="form-control">
          	<p ng-repeat="emp in emps | filter: {checked: false}" ng-click="onClick(emp)"><input type="checkbox" /> {{emp.name}}</p>
          </div>
        </div>

        <div class="col-md-6">
          <h2>Выбранные сотруники</h2>
          <div style="overflow: auto; height: 10em" class="form-control">
          	<p ng-repeat="emp in emps | filter: {checked: true}" ng-click="onClick(emp)"><input type="checkbox" checked /> {{emp.name}}</p>
          </div>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Роман Осипов 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="js/task1.js"></script>
  </body>
</html>
